.collaborative-cursor-container {
  position: relative;
  display: inline-block;
  width: 4px;
  height: 1.2em;
  pointer-events: auto;
}

.collaborative-cursor-hover-area {
  position: absolute;
  top: -10%;
  left: -5px;
  width: 10px;
  height: 120%;
  /* background-color: blueviolet; */
  /* z-index: 1000; */
}

.collaborative-cursor-line {
  position: relative;
  width: 2px;
  height: 100%;
  animation: cursorBlink 1s infinite;
}

.collaborative-cursor-name {
  position: absolute;
  bottom: 100%;
  left: 0;
  margin-bottom: 2px;
  padding: 2px 6px;
  border-radius: 3px;
  font-size: 11px;
  font-family: monospace;
  white-space: nowrap;
  z-index: 1000;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  color: white;
}

.collaborative-cursor-container:hover .collaborative-cursor-name {
  opacity: 1 !important;
  visibility: visible !important;
}

.collaborative-selection {
  position: relative;
}

.collaborative-selection-inline {
  opacity: 0.3;
}

@keyframes cursorBlink {
  0%,
  50% {
    opacity: 1;
  }
  51%,
  100% {
    opacity: 0.4;
  }
}
